<form action="{% url 'app:voto' pergunta.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ resposta.resposta_text }}</h1></legend>
        {% if mensagem_erro %}
            <p>
                <strong>{{ mensagem_erro }}</strong>
            </p>
        {% endif %}
        {% for resposta in pergunta.resposta_set.all %}
            <input type="radio" name="resposta" id="resposta{{ forloop.counter }}" value="{{ resposta.id }}">
            <label for="resposta{{ forloop.counter }}">{{ resposta.resposta_text }}</label>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Voto">
</form>
