{% if final_lista_pergunta %}
    <ul>
        {% for pergunta in final_lista_pergunta %}
            <li>
                <a href="{% url 'app:detalhe' pergunta.id %}">{{ pergunta.pergunta_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Não há perguntas disponíveis</p>
{% endif %}