<h1>{{ pergunta.pergunta_text }}</h1>
<ul>
    {% for resposta in pergunta.resposta_set.all %}
        <li>{{ resposta.resposta_text }} -- {{ resposta.votos }} voto{{ resposta.votos|pluralize }}</li>
    {% endfor %}
</ul>
<a href="{% url 'app:detalhe' pergunta.id %}">Vote novamente</a>
